body {
  background-color: #2196F3;
  text-align: center;
  padding: 4rem;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200; }

.main-card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: auto;
  position: relative;
  width: 80rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 1.5rem; }

/* Employee overview */
.media {
  display: flex;
  align-items: center;
  text-align: left; }

#employee-name {
  font-weight: 100;
  font-size: 3rem; }

.employee-img {
  width: 64px;
  height: 64px;
  border-radius: 50%; }

/* daterange */
#daterange {
  white-space: nowrap;
  background: #fff;
  color: #333;
  padding: 8px;
  line-height: 18px;
  border-radius: 4px;
  border-width: 0 1px 4px;
  cursor: pointer;
  border: 1px solid #BDBDBD; }

.center-vertically {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

.media-right #cal-icon {
  position: absolute;
  top: 4rem;
  right: 24px;
  bottom: auto;
  cursor: pointer; }

.btn-success,
.btn-success:focus,
.btn-success.focus,
.btn-success .badge {
  color: #fff;
  background-color: #E040FB;
  border-color: #E040FB; }

.btn-success:hover {
  background-color: #b304d1;
  border-color: #b304d1; }

.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success,
.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
  background-color: #f0a4fd;
  border-color: #f0a4fd; }

table {
  white-space: normal;
  line-height: normal;
  font-weight: 200;
  font-style: normal;
  color: -internal-quirk-inherit;
  text-align: start;
  font-variant: normal normal; }

th {
  font-weight: normal; }

/* Tabs */
.nav-tabs {
  margin-top: 2rem; }

#overview,
#breakdown {
  margin-top: 2rem; }

#error-message {
  margin: 4rem 2rem;
  font-size: 2rem; }

.nav > li > a:focus,
.nav > li > a:hover {
  text-decoration: none;
  background-color: #f5fafe; }

.rippleJS .ripple {
  background: #1976D2; }

/* Shifts meta-info */
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center; }

.meta-info-box {
  justify-content: space-between;
  padding: 1rem;
  margin: 2rem 1rem;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: #BBDEFB;
  display: flex;
  width: 15rem;
  height: 4rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
  text-align: center; }

.meta-info-box p {
  float: left; }

.meta-info-box div {
  float: right; }

.meta-info-box p span {
  color: #E040FB; }

#progress_bar {
  margin: 0 2rem;
  width: 100px;
  height: 100px; }

#meta-overview {
  font-size: 1.8rem;
  font-weight: 300;
  margin: 20px;
  text-align: left;
  max-width: 45rem; }

#meta-overview span {
  font-weight: 400;
  color: #2196F3; }

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4; }

/* Shifts table style */
th.col-1,
th.col-3,
th.col-5 {
  width: 180px; }

#punctual-table-wrapper .bottom {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between; }

#punctual-table-wrapper .top {
  display: flex;
  justify-content: space-between;
  justify-content: center; }

#punctual-table {
  white-space: nowrap; }

th {
  border-bottom-width: 0px !important; }

td span {
  cursor: default; }

span .not-on-time {
  padding: 0.3rem;
  color: #E040FB;
  font-size: 1rem;
  font-weight: normal;
  border: 0.5px solid #E040FB;
  border-radius: 3px; }

span .on-time {
  color: #1976D2; }

.tooltip-inner {
  background-color: #212121; }

.tooltip.top .tooltip-arrow {
  border-top-color: #212121; }

.tooltip.in {
  opacity: 0.8; }

.tooltip {
  font-family: "Lato", Helvetica, Arial, sans-serif; }

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: #2196F3;
  border-color: #2196F3; }

.dataTables_info {
  font-weight: 200; }

.chart rect.max {
  fill: #E040FB; }

.axis path,
.axis line {
  fill: none;
  stroke: #666; }

.axis text {
  font-size: 16px; }

.chart .current {
  fill: green;
  cursor: pointer; }

.chart {
  width: 730px;
  padding: 0 20px 20px 20px;
  height: 280px; }

#breakdown p {
  font-size: 2.8rem;
  font-weight: 300;
  margin: 4rem 0 2rem 0; }

text.bar {
  color: #E040FB !important; }

/*# sourceMappingURL=main.css.map */
